<!-- Managed By -->
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div class="row">

				<div class="large-2 small-6 columns">
					<img src="http://4.bp.blogspot.com/-9rnN16o81oc/TVft5DbOsmI/AAAAAAAAA1s/4vxLI7hC_6I/s320/407799Pikachu_png.jpg">
				</div>

				<div class="large-10 small-6 columns">
					<strong>Welcome to Portable Assistant!
						<hr />
					</strong> We are here to help you with your sickness! Pay us in $ and you'll live forever!
				</div>

			</div>
		</div>
	</div>

	<!-- End Managed By -->

</div>
