<div
	class="large-6 large-offset-3 medium-6 medium-offset-3 small-12 columns">
	<div data-alert class="alert-box alert round"
		ng-show="$root.authenticationError">
		<strong>Authentication failed!</strong> Please check your credentials
		and try again.
	</div>
	<div data-alert class="alert-box warning round"
		ng-hide="$root.isLoggedIn()">
		<strong>Not authenticated</strong> Please login first.
	</div>
	<fieldset>
		<legend>Login</legend>
		<form data-abide>
			<div class="name-field">
				<label>Login <small>required</small> <input type="text"
					required pattern="[a-zA-Z0-9]+" ng-model="username">
				</label>
			</div>
			<div class="password-field">
				<label>Password <small>required</small> <input
					type="password" required ng-model="password">
				</label>
			</div>
			<button type="submit" ng-click="login()">Login</button>
		</form>
	</fieldset>
</div>