<div class="row">
	<div class="large-12 small-12 columns">
		<fieldset>
			<legend>Account settings</legend>
			<form data-abide>
				<div class="row">
					<div class="small-3 columns">
						<label for="right-label" class="right">Login</label>
					</div>
					<div class="small-9 columns">
						<label for="right-label" class="right">{{settings().login}}</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="right-label" class="right">First name</label>
					</div>
					<div class="small-9 columns">
						<label for="right-label" class="right">{{settings().firstName}}</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="right-label" class="right">Last name</label>
					</div>
					<div class="small-9 columns">
						<label for="right-label" class="right">{{settings().lastName}}</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="right-label" class="right">Phone</label>
					</div>
					<div class="small-9 columns">
						<label for="right-label" class="right">{{settings().phone}}</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<label for="right-label" class="right">Roles</label>
					</div>
					<div class="small-9 columns">
						<label class="right-label" ng-repeat="role in settings().userRoles"> {{role}} </label>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
</div>