<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>Show Examinations</h6>
		</div>
		<table>
			<thead>
				<tr>
					<th ng-click="sortByDate()"><a>Date</a></th>
					<th>Value</th>
					<th ng-click="sortByType()"><a>Type</a></th>
					<th>Visit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="examination in examinations">
					<td><a class="has-tip" tooltip-placement="left"
						tooltip="{{examination.date.replace('T', ' ')}}"><span
							am-time-ago="examination.date"></span></a></td>
					<td>{{examination.value}}</td>
					<td>{{examination.examinationType.name}}</td>
					<td><a class="has-tip" tooltip-placement="left"
						tooltip="{{examination.visit.date.replace('T', ' ')}}"><span
							am-time-ago="examination.visit.date"></span></a></td>
				</tr>
			</tbody>
		</table>
		<hr />
		<a class="button" data-reveal-id="addExaminationModal">Add new
			examination</a>
		<div id="addExaminationModal" class="reveal-modal" data-reveal>
			<fieldset>
				<legend> Add new examination </legend>
				<span>Select examination type: <select ng-model="exType"
					ng-options="ex.name for ex in examinationTypes"></select></span> <span>Value:
					<input type="text" required pattern="[0-9]+" ng-model="exValue" />
				</span>
				<button class="button" ng-click="add()">Add new examination</button>
			</fieldset>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>