<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>List of doctors</h6>
		</div>
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix">Search doctor</span>
			</div>
			<div class="small-9 large-10 columns">
				<input type="text" ng-model="doctorFilter">
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th width="200">First name</th>
					<th width="200">Last name</th>
					<th>Address</th>
					<th width="150">Phone</th>
					<th width="150">Specialization</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="doctor in doctors">
					<td>{{doctor.firstName}}</td>
					<td>{{doctor.lastName}}</td>
					<td>{{doctor.address}}</td>
					<td>{{doctor.phone}}</td>
					<td>{{doctor.specialization.name}}</td>
				</tr>
			</tbody>
		</table>
		<pagination total-items="totalFilteredItems" page="currentPage"
			class="pagination-sm" items-per-page="itemsPerPage"
			boundary-links="true" on-select-page="onPageChanged(page)"></pagination>
	</div>
</div>