<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>Show Alerts</h6>
		</div>
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.cause}}</alert>
	</div>
</div>