<!DOCTYPE html>
<html lang="en" ng-app="paApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Portable Assistant</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/foundation.css" />
<link rel="stylesheet" type="text/css"
	href="resources/css/foundation-icons.css" />
<link rel="stylesheet" type="text/css"
	href="resources/css/ng-quick-date.css"/>
<link rel="Shortcut icon" href="resources/img/icon.ico" />
</head>
<body>
	<div class="splash" ng-cloak="">
		<div class="panel text-center">Portable Assistant is loading...</div>
	</div>
	<div class="off-canvas-wrap" ng-cloak="">
		<div class="inner-wrap">

			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list">
					<li><label class="first">My profile</label></li>
					<li><a href="#/activities">Activities</a></li>
					<li><a href="#/alerts">Alerts</a></li>
					<li><a href="#/diets">Diets</a></li>
					<li><a href="#/examinations">Examinations</a></li>
					<li><a href="#/visits">Visits</a></li>
					<li><label class="first">Clinic</label></li>
					<li><a href="#/doctors">Doctors</a></li>
					<li><a href="#/medicaments">Medicaments</a></li>
					<li><label class="first">Settings</label></li>
					<li><a href="#/login">Login</a></li>
					<li><a href="#/logout">Logout</a></li>
					<li><a href="#/settings">Account settings</a></li>
				</ul>
			</aside>

			<nav class="tab-bar show-for-small">
				<a class="left-off-canvas-toggle menu-icon"> <span>Menu</span>
				</a>
			</nav>

			<!--use Foundation top-bar element for all but small and medium screens-->
			<nav class="top-bar hide-for-small" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1>
							<a href="#">Portable Assistant</a>
						</h1>
					</li>
				</ul>

				<section class="top-bar-section">
					<ul class="right">
						<li class="divider"></li>
						<li class="has-dropdown"><a href="#" class="">Menu</a>
							<ul class="dropdown">
								<li><label class="first">My profile</label></li>
								<li><a href="#/activities">Activities</a></li>
								<li><a href="#/alerts">Alerts</a></li>
								<li><a href="#/diets">Diets</a></li>
								<li><a href="#/examinations">Examinations</a></li>
								<li><a href="#/visits">Visits</a></li>
								<li><label class="first">Clinic</label></li>
								<li><a href="#/doctors">Doctors</a></li>
								<li><a href="#/medicaments">Medicaments</a></li>
							</ul></li>
						<li class="divider"></li>
						<li class="has-dropdown"><a href="#" class="">Settings</a>
							<ul class="dropdown">
								<li><a href="#/login">Login</a></li>
								<li><a href="#/logout">Logout</a></li>
								<li><a href="#/settings">Account settings</a></li>
							</ul></li>
					</ul>
				</section>
			</nav>

			<a class="exit-off-canvas" href="#"></a>

			<div class="row">
				<div class="large-4 medium-3 columns">
					<div class="hide-for-small">
						<img src="resources/img/icon.png">
					</div>
					<div ng-show="$root.isLoggedIn()">
						<div ng-controller="AlertsController">
							<a><img src="resources/img/helpbutton.jpg" ng-click="fireAlert()" /></a>
						</div>
					</div>
				</div>

				<!-- End Side Bar -->


				<div class="large-8 medium-9 columns" ng-view></div>
			</div>

			<!-- Footer -->

			<footer class="row">
				<div class="large-12 columns">
					<hr />
					<div class="row">

						<div class="large-6 columns">
							<p>© Copyright no one at all. Go to town.</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!-- End Footer -->

	<script src="resources/js/vendor/jquery.js"></script>
	<script src="resources/js/foundation.min.js"></script>
	<script src="resources/js/sockjs-0.3.4.min.js"></script>
	<script src="resources/js/stomp.min.js"></script>
	<script src="resources/js/foundation/foundation.topbar.js"></script>
	<script src="resources/js/foundation/foundation.dropdown.js"></script>
	<script src="resources/js/foundation/foundation.alert.js"></script>
	<script src="resources/js/foundation/foundation.tab.js"></script>
	<script src="resources/js/foundation/foundation.tooltip.js"></script>
	<script src="resources/js/foundation/foundation.reveal.js"></script>
	<script src="resources/js/foundation/foundation.accordion.js"></script>
	<script src="resources/js/timeago.js"></script>
	<script src="resources/js/vendor/modernizr.js"></script>
	<script src="resources/js/angular/angular.js"></script>
	<script src="resources/js/angular/angular-route.min.js"></script>
	<script src="resources/js/angular/angular-sanitize.min.js"></script>
	<script src="resources/js/angular/angular-resource.min.js"></script>
	<script src="resources/js/angular/angular-cookies.min.js"></script>
	<script src="resources/js/angular/angular-animate.min.js"></script>
	<script src="resources/js/ng-quick-date.min.js"></script>
	<script src="resources/js/sugar.min.js"></script>
	<script src="resources/js/moment.js"></script>
	<script src="resources/js/angular/angular-moment.min.js"></script>
	<script src="resources/js/mm-foundation-tpls-0.1.0.min.js"></script>
	<script src="/pa/wro/default.js"></script>
	<script>
		$(document).foundation();
		var jQ = $.noConflict();
	</script>
</body>
</html>