<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>List of medicaments</h6>
		</div>
		<table>
			<thead>
				<tr>
					<th>Medicament</th>
					<th>Value</th>
					<th>Frequency</th>
					<th>Start date</th>
					<th>End date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="medicament in medicaments">
					<td><a popover="{{'Purpose: ' + medicament.medicament.purpose}}" popover-title="{{'Name: ' + medicament.medicament.name}}" popover-trigger="mouseenter" popover-placement="left">{{medicament.medicament.name}}</a></td>
					<td>{{medicament.value}}</td>
					<td>{{medicament.frequency}}</td>
					<td>{{medicament.startDate}}</td>
					<td>{{medicament.endDate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>