<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>Incoming and past visits</h6>
		</div>
		<table>
			<thead>
				<tr>
					<th ng-click="sortByDate()"><a>Date</a></th>
					<th>Doctor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="visit in visits">
					<td><a class="has-tip" tooltip-placement="left" tooltip="{{visit.date.replace('T', ' ')}}"><span am-time-ago="visit.date"></span></a></td>
					<td>{{visit.doctor.firstName + " " + visit.doctor.lastName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>