<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>Show my activities</h6>
		</div>
		<table>
			<thead>
				<tr>
					<th>Type</th>
					<th>Frequency</th>
					<th ng-click="sortByStartDate()"><a>Start date</a></th>
					<th ng-click="sortByEndDate()"><a>End date</a></th>
					<th>Duration</th>
					<th>Done</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="activity in activities">
					<td>{{activity.activityType.description}}</td>
					<td>{{activity.frequency}}</td>
					<td>{{activity.startDate}}</td>
					<td>{{activity.endDate}}</td>
					<td>{{activity.duration}}</td>
					<td><input type="checkbox" id="{{activity.id}}"
						ng-model="activity.done" ng-disabled="true" /></td>
				</tr>
			</tbody>
		</table>
		<a class="button" data-reveal-id="addActivityModal">Add new
			activity</a>
		<div id="addActivityModal" class="reveal-modal" data-reveal>
			<fieldset>
				<legend> Add new activity </legend>
				<div class="panel">
					<span>Select activity type: <select ng-model="aType"
						ng-options="a.description for a in activityTypes"></select>
					</span>
				</div>
				<div class="panel">
					<span>Frequency: <input type="text" ng-required="true" ng-model="freq" />
					</span>
				</div>
				<div class="panel">
					<span>Start date: <quick-datepicker
							disable-timepicker="true" icon-class="fi-calendar"
							date-format="yyyy-MM-dd" label-format="EEEE, MMMM d, yyyy"
							ng-model="startDate"></quick-datepicker>
					</span>
				</div>
				<div class="panel">
					<span>End date: <quick-datepicker disable-timepicker="true"
							icon-class="fi-calendar" date-format="yyyy-MM-dd"
							label-format="EEEE, MMMM d, yyyy" ng-model="endDate"></quick-datepicker>
					</span>
				</div>
				<div class="panel">
					<span>Done: <input type="checkbox" ng-model="done" />
					</span>
				</div>
				<div class="panel">
					<span>Duration: <input type="text"  ng-required="true"
						ng-pattern="/((1 hour)|([2-9] hours))+( )*((1 minute)|([0-5]*[0-9] minutes))*/"
						ng-model="duration" />
					</span>
				</div>
				<div class="panel">
					<button class="button" type="submit" ng-click="add()">Add
						new activity</button>
				</div>

			</fieldset>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>