<div class="row">
	<div class="large-12 small-12 columns">
		<div class="panel">
			<h6>Show Diets</h6>
		</div>

		<table>
			<thead>
				<tr>
					<th>Description</th>
					<th ng-click="sortByStartDate()"><a>Start date</a></th>
					<th ng-click="sortByEndDate()"><a>End date</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="diet in diets">
					<td>{{diet.description}}</td>
					<td>{{diet.startDate}}</td>
					<td>{{diet.endDate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>